.main-container{
    margin-top: 20px;
    background: #000;
    color: #fff;
}

.text-main{
    display: flex;
    padding: 20px 40px 0 40px;
    justify-content: space-between;
}

.text-main h6{
    height: 100%;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
}


.text-main p{
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
}

.text-main h6 a{
    text-decoration: none;
    color: #929292;
}